nav#header.navbar.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
        a.navbar-brand(href='/' tabindex='-1')
          img(height='30px' src='https://web.iit.edu/sites/web/files/departments/marketing-communications/logos/images/IIT_Logo_stack_186_blk.gif')
    p.navbar-text.pull-right
      a.navbar-link(href='/signout') Sign out
div.separator