doctype html
html(lang='en')
  head
    block title
      title Hadoop Automation Scheduler
    block head
      meta(charset='utf8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
      script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
      script(src="https://cdn.socket.io/socket.io-1.2.0.js")
      script(type='text/javascript' src='/js/scripts.js')
      link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/main.css")
  body
    include ./header.jade
    block body
