
body {
	margin-top: 70px;
}
#header.navbar {
  width: 100%;
  margin-bottom: 0;
  background-color: #f1f1f1;
}

.separator {
  height: 1em;
}

.table>thead>tr>td{
  font-weight:bold;
}

.container-borders {
  border-radius: 5px;
  width: 940px;
  padding: 10px;
  border:1px solid #cecece;
  border-top:1px solid #cecece;
  background:#fff;
}
